<div class="main-div  clearfix">
    
    <div class="content">
       <mat-drawer-container class="example-container" autosize>
           <mat-drawer #drawer class="example-sidenav" mode="side">
             <div class="fixed-sidebar">
              <div class="profile-div">
                <div class="img-circle">
                  <img src="../../../assets/images/profile-img.jpg" alt="profile-img">
                </div>
                <div class="usser-name">
                  <h4>Jhon Simchenko</h4>
                  <span>Designer</span>
                </div>
                <!-- <div class="logout">
                  <i class="material-icons">
                    more_horiz
                    </i>
                </div> -->
              </div>
              <!-- <div class="sidebar-menu">
                <h4>Menu</h4>
                <ul>
                  <li><a href="http://">Dashboard</a></li>
                  <li><a href="http://">Notification</a></li>
                  <li><a href="http://">Leave</a></li>
                  <li><a href="http://">History</a></li>
                </ul>
              </div> -->

              <div class="sidebar-menu">
                <h4>Menu</h4>
                <ul>
                  <li routerLink="/dashboard"> <i class="material-icons"> dashboard </i> <a>Dashboard</a></li>
                  <li routerLink="/notification"> <i class="material-icons">notifications</i> <a>Notification</a></li>
                  <li routerLink="/history"> <i class="material-icons">history</i> <a >History</a></li>
                  <li routerLink="/apply"> <i class="material-icons">assignment</i> <a >Apply</a></li>
                </ul>
              </div>
            </div>
              <!-- <div class="add-btn">
                  <i class="material-icons"> add </i>
                <span>Add Project</span>
              </div> -->
           </mat-drawer>
         
             <!-- <button class="arrow-btn" type="button" mat-button (click)="drawer.toggle()" (click)="arrowLeft=!arrowLeft">
              <i *ngIf="arrowLeft" class="fas fa-chevron-left"></i>
              <i *ngIf="!arrowLeft" class="fas fa-chevron-right"></i>
             </button> -->
             <div class="fixed-navbar">
             <nav class="navbar navbar-light justify-content-between">
              <a class="navbar-brand"></a>
              <form class="form-inline">
                <div class="nav">
                  <div class="icons-div">
                 <!-- <span>  <i class="material-icons"> move_to_inbox  </i></span> -->
                 <span>  <i class="material-icons"> add_box  </i> </span>
                  <span routerLink="/notification">   <i class="material-icons"> notifications  </i>
                  <div class="notification-circle">4</div></span>
                  <span>  <i class="material-icons" (click)="profileBox=!profileBox"> account_circle  </i> </span>
                  <div class="profile-menu" *ngIf="profileBox">
                      <div class="option"  routerLink="/profile"><i class="material-icons"> account_circle  </i> Profile</div>
                      <div class="option"><i class="material-icons"> exit_to_app </i> Logout</div>
                    </div>
                 </div>
                
                </div>
              </form>
              
            </nav>
             
           <!-- sidebar button -->
           <button class="button-sidebar arrow-btn" type="button" mat-button (click)="drawer.toggle()" (click)="arrowLeft=!arrowLeft">
              <i class="material-icons"> menu </i>
             </button>
             
             <!-- sidebar button -->  
            </div>
            
           <router-outlet></router-outlet>

         
         </mat-drawer-container>
    </div>

    
</div> 



