<div class="main-div  clearfix">
    
    <div class="content">
       <mat-drawer-container class="example-container" autosize>
           <mat-drawer #drawer class="example-sidenav" mode="side">
              <div class="profile-div">
                <div class="img-circle">
                  <img src="../../../assets/images/profile-img.jpg" alt="profile-img">
                </div>
                <div class="usser-name">
                  <h4>Jhon Simchenko</h4>
                  <span>Product Owner</span>
                </div>
                <!-- <div class="logout">
                  <i class="material-icons">
                    more_horiz
                    </i>
                </div> -->
              </div>
              <!-- <div class="sidebar-menu">
                <h4>Menu</h4>
                <ul>
                  <li><a href="http://">Dashboard</a></li>
                  <li><a href="http://">Notification</a></li>
                  <li><a href="http://">Leave</a></li>
                  <li><a href="http://">History</a></li>
                </ul>
              </div> -->

              <div class="sidebar-menu">
                <h4>Menu</h4>
                <ul>
                  <li> <i class="material-icons"> dashboard </i> <a href="http://">Dashboar</a></li>
                  <li> <i class="material-icons">notifications</i> <a href="http://">Notification</a></li>
                  <li> <i class="material-icons">history</i> <a href="http://">History</a></li>
                  <li> <i class="material-icons">assignment</i> <a href="http://">Apply</a></li>
                </ul>
              </div>
              <!-- <div class="add-btn">
                  <i class="material-icons"> add </i>
                <span>Add Project</span>
              </div> -->
           </mat-drawer>
         
             <!-- <button class="arrow-btn" type="button" mat-button (click)="drawer.toggle()" (click)="arrowLeft=!arrowLeft">
              <i *ngIf="arrowLeft" class="fas fa-chevron-left"></i>
              <i *ngIf="!arrowLeft" class="fas fa-chevron-right"></i>
             </button> -->
             <nav class="navbar navbar-light justify-content-between">
              <a class="navbar-brand"></a>
              <form class="form-inline">
                <div class="nav">
                  <div class="icons-div">
                   <!-- <form class="example-form">
                       <mat-form-field class="example-full-width">
                         <input matInput placeholder="Search"
                                [errorStateMatcher]="matcher">
                       </mat-form-field>
                     </form>
                  <span>  <i class="material-icons"> move_to_inbox  </i></span> -->
                  <span>   <i class="material-icons"> notifications  </i>
                  <div class="notification-circle">4</div></span>
                  <span>  <i class="material-icons"> account_circle  </i> </span>
                 </div>
                </div>
              </form>
            </nav>
             
           <!-- sidebar button -->
               <button class="button-sidebar arrow-btn" type="button" mat-button (click)="drawer.toggle()" (click)="arrowLeft=!arrowLeft">
                  <i class="material-icons"> menu </i>
                 </button>
             <!-- sidebar button -->  
           <router-outlet></router-outlet>

         
         </mat-drawer-container>
    </div>

    
</div> 



