.main-div {
    width: 100%;
   .fixed-sidebar {
     position: fixed;
     width: 215px;
   }
    .icon-image {
      line-height: 2;
      img {
        height: 46px;
        cursor: pointer;
      }
    }
    .icons-div {
      position: relative;
    }
    .profile-menu {
      padding-top: 8px;
      padding-bottom: 8px;
      width: 120px;
      background-color: white;
      border-radius: 5px;
      position: absolute;
      top: 50px;
      right: 27px;
      z-index: 5;
      // border: .5px solid rgba(0,0,0,.04);
      box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
                  0 4px 5px 0 rgba(0,0,0,.14),
                  0 1px 10px 0 rgba(0,0,0,.12);
      i {
        font-size: 18px!important;
        margin-right: 12px;
        margin-left: 3px;
        // height: 38px!important;
      }
      .option {
        font-size: 14px;
        padding: 7px;
        color: #707070;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          background: rgba(0,0,0,.04);
        }
        &:focus {
          outline: none;
        }
      }
    }
    .icon-image-inbox {
      line-height: 2;
      img {
        height: 31px;
        cursor: pointer;
        &:focus {
          outline: none;
      }
      }
    }
    .notification {
      position: relative;
    }

    .material-icons {
      font-size: 29px;
      line-height: 2;
    }
    i {
      font-size: 21px;
      line-height: 3;
    }
    .box {
      margin-top: 40px;
      margin-bottom: 30px;
      position: relative;
      img {
        height: 50px;
      }


    }
  }
  .content {
  
    mat-drawer-container {
      position: relative;
      background-color: #F0F2F7;
      i {
        line-height: 0;
        font-size: 12px;
      }
      .button-sidebar {
        background-color: #70aade;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        border: none;
        padding: 4px 8px 4px 6px;
        position: absolute;
        top: 9px;
        left: 20px;
        // z-index: 99999;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
                    0 6px 10px 0 rgba(0,0,0,.14),
                    0 1px 18px 0 rgba(0,0,0,.12);
        &:focus {
          outline: -webkit-focus-ring-color none;
        }
          i {
            color: white!important;
            font-size: 24px;
            margin-left: 0px!important;
        }
      }
      nav { 
        background-color: white;
      
      //   padding: 0px 20px 0px 0px;
      //   height: 50px;
      //   background-color: #F0F2F7;
      //   overflow: hidden;
      //   position: fixed;
      //  top: 0;
      //   width: 100%;
      //   text-align: right;
      .bd-right {
        border-right: 1px solid #5A5A5A;
      }
        .icons-div {
          text-align: right;
          display: inline-flex;
          margin-right: -11px;
        }
        i {
          color: #2c3e50;
          font-size: 24px;
        }
        
        span {
          position: relative;
          padding: 16px 10px 2px 10px;
          border-radius: 4px;
          margin: 5px;
          &:hover {
            background-color:#E7E9ED;
          }
          &:focus {
            outline: none;
          }
          .notification-circle {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: red;
            color: white;
            position: absolute;
            top: 3px;
            right: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: 500;
          }
        }
        .example-form {
          margin-right: 10px;
        }
      }
      .main-content {
        padding: 70px 20px 20px 20px;
      }
    }
    mat-drawer {
      min-width: 215px;
      position: absolute;
      background-color: #70AADE;
     .profile-div {
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 30px;
       height: 70px;
       width: 100%;
       background-color: #91B6D6;
     }
     .img-circle {
      height: 56px;
       img {
        border-radius: 50%;
        height: 56px;
       }
     }
     .usser-name {
       margin-left: 13px;
       color: white;
       font-weight: 500;
       h4 {
         margin: 0px;
         font-size: 16px;
       }
       span {
         font-size: 13px;
         color: #DEEDFB;
       }
     }
    //  .logout {
    //    color: #716F6F;
    //    margin: 0px 0px 0px 15px;
    //    i {
    //      font-size: 32px;
    //    }
    //  }
    .sidebar-menu {
      color: #1E3262;
      margin-top: 60px;
      h4 {
        margin-left: 26px;
        margin-bottom: 10px;
        font-size: 18px;
      }
      ul {
        list-style-type: none;
        padding-inline-start: 0px;
      }
      li{
        cursor: pointer;
        font-size: 16px;
        padding: 10px 25px;
        align-items: center;
        display: flex;
        &:focus{
          outline: none;
        }
        i {
          font-size: 20px;
          color: #263262;
          margin-right: 12px;
        }
        &:hover{
          background-color: #6699CC;
        }
       a {
        text-decoration: none;
        color: white;
        width: 100%;
      }
    }
    }
    .add-btn {
      display: flex;
      align-items: center;
      padding: 10px 25px;
      cursor: pointer;
      &:hover{
        background-color: #6699CC;
      }
      span {
        color: white;
      }
      i {
        color: white;
        font-size: 20px;
        margin-right: 5px;
      }
    }
    }
   
  }


.notification-box {
  position: absolute;
  top: 180px;
  left: 62px;
  text-align: center;
  width: 450px;
  border: 1px solid #e1e1e1;
  margin-left: 10px;
  background-color: white;
  box-shadow: 0 4px 17px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
  line-height: 1;
  span {
    line-height: 2;
    color: #999;
    margin-top: 10px;
    font-size: 20px;
  }
  hr {
    border: none;
    border-bottom: 1px solid #e1e1e1;
    margin-block-start: 0em;
  }
  img {
    height: 250px;
    margin: 20px 0px;
  }
}

.account {
  font-family: "Roboto", helvetica, arial, sans-serif;
  width: 240px;
  padding: 15px 10px;
  position: absolute;
  left: 60px;
  top: 20px;
  z-index: 2;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 17px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  p {
    color: #9699a6;
    padding-left: 16px;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .ac-menu {
    margin-bottom: 0px;
    padding: 0px 0px 0px 12px;
    border-radius: 4px;
    &:hover {
      color: #ffffff;
      background-color: #009aff;
    }
  }
  i {
    font-size: 18px !important;
    float: left;
    color: #333333;
    cursor: pointer;
    line-height: 2 !important;
  }
  .text {
    margin-left: 12px;
    margin-top: 0px;
    float: left;
    font-size: 16px;
    cursor: pointer;
    color: #333333;
    line-height: 2.5;
  }
}

  .backbutton{
    background-color: #70aade;
      color: white;
      
  }


