<div class="avtivity-main-div">
    <div class="main-content">
        <div class="header">
        <i class="far fa-window-maximize"></i>
        <h3>notification</h3>
    </div>

    <div class="members-div">
        <div class="background-circle profile-box">
            <h5>B</h5>
        </div>
        <div class="background-circle plus">
            <h5>+</h5>
        </div>
        <div class="date-picker">
           
        </div>
    </div>

    <div class="inner-header">
        <i class="fas fa-stream"></i>
        <h5>Description</h5>
    </div>

    <div class="description-input">
    <input type="text" placeholder="Add a more detailed description…">
</div>

<div class="check-list">
    <div class="inner-header">
        <i class="far fa-check-square"></i> 
        <h5>popup-box</h5>
    </div>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <mat-checkbox>icon work done</mat-checkbox>
  
</div>

<!-- <div class="activity">
<div class="inner-header">
    <i class="fas fa-chart-line"></i>
    <h5>Description</h5>
</div>
</div> -->

    <!-- check list add popup box  Start-->
     <div class="check-list-popup" *ngIf="checkListSection">
        <div class="no-back">
            <div class="popup-head">
            <span class="pop-over-header-title">Add Checklist</span>
            
            <i class="fas fa-times close-btn" (click)="checkListSection=!checkListSection"></i>
        </div>
        <div>
            <div class="pop-over-content">
                    <label>Title</label>
                    <input type="text" value="Checklist" >
                    <label class="custom-file-upload">
                              <input type="file"/>
                             Add 
                        </label>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- check list add popup box End-->

                  <div class="member-popup popup-box" *ngIf="AddMembersSection">
                        <div class="no-back">
                            <div class="popup-head">
                            <span class="pop-over-header-title">Members</span>
                            
                    <i class="fas fa-times close-btn" (click)="AddMembersSection=!AddMembersSection"></i>
                        </div>
                        <div>
                            <div class="pop-over-content">
                                    <input type="text" value="Search Members">
                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>        
    </div>
   <div class="sidenav">
       <p>ADD TO CART</p>
       <button (click)="AddMembersSection=!AddMembersSection"><i class="far fa-user"></i>
         <span>Members</span></button>

       <button><i class="far fa-credit-card" style="color: #68758c;"></i> <span>Status</span></button>

       <button (click)="checkListSection=!checkListSection"><i class="far fa-check-square"></i> <span>Check List</span></button>

       <button><i class="far fa-clock"></i> <span>Due Date</span></button>

     <button>  <label class="custom-file-add">
            <input type="file"/>
            <i class="fas fa-paperclip" style="color: #68758c;"></i> Attachment
        </label></button>
    </div> 
</div>