

 
<div class="boardcontent">
               
                <i class="material-icons">
                                add_circle
                                </i>
        <h2>Add team members</h2>
        
                </div>
        <mat-form-field>
                <input matInput placeholder="Enter name or email">
              </mat-form-field>
              <mat-list>
                        <mat-list-item> Team Subscriber list </mat-list-item>

              </mat-list>
              
             
                        <mat-action-list>
                                 <div class="subscriberlist">
                                                <button mat-mini-fab class="boardbutton">AB</button>
                                        <button mat-list-item > ABC </button>
                                        
                                                        <i matTooltip="Remove ABC from this board" class="material-icons" >
                                                                        cancel
                                                                        </i>
                                  </div>
                                  <div class="subscriberlist">
                                                <button mat-mini-fab class="boardbutton" >XY</button>
                                                <button mat-list-item  > XYZ </button>
                                                <i matTooltip="Remove XYZ from this board" class="material-icons">
                                                                cancel
                                                                </i>
                                                                

                                  </div>
                                       
                                     </mat-action-list>
                                     <div class="cancelicon">
                                             <img src="../../../assets/images/Component 2 – 1.png" alt="" style="width: 30px;">
                                                <!-- <i class="material-icons">
                                                                cancel
                                                                </i>    -->

                                </div>  
                                     
                                                  
                                                       
                                              
                                               
              
             

    