.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .bg{
    background: #96DF73;
    border-radius: 5px
  }
  .bg1{
    background: #EF403D;
    border-radius: 5px
  }
  .bg3{
    background: #FFD557;
    border-radius: 5px
  }
  .bg4{
    background: #ACDAE2;
    border-radius: 5px
  }
  .clear{
      float: left;
  }
  .notify-border{
      border: 1px;
      height: 50px;
      padding: 0px 20px 0px 20px;
  }
  .check-icon{
      color: white;
  }
  .nb{
      margin-top: 20px;
      height: 50px;
      padding: 0px 20px 0px 20px;
  }
  .nb1{
      margin-top: 20px;
    padding: 0px 20px 0px 20px;
      height: 50px;
  }
  .nb2{
     padding: 0px 20px 0px 20px;
      margin-top: 20px;
      height: 50px;
  }