

   <section class="notificationsection">

                <div class="apply-header">
                    <div class="header">
                        <div class="text">
                            <h2>Notifications</h2>
                        </div>
            
                        <div>
                            <a href="#" class="clear">Mark all as read</a>
                            <a href="#" class="clear">Clear all</a>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="notread">
            
                    <div class="notification">
                        <!-- <div class="notify-inner pd special">  -->
                        <div class="person">
                            <img alt="profile pic" src="../../../assets/images/profile-img.jpg" class="image">
            
                        </div>
                        <div class="para">
                            <P> Smith has applied for <span> 3 days </span>leave.lorem ipsum sit amet consectetur adipisicing.</P>
            
                        </div>
            
                        <!-- </div> -->
                        <i class="material-icons cross"> close </i>
            
                    </div>
                    <div class="second">
                        <i class="material-icons clock">
                            access_time
                            </i>
                        <p>a few seconds ago</p>
            
                    </div>
                </div>

                <div class="read">
                    <div class="notification ">
                        <!-- <div class="notify-inner pd special">  -->
                        <div class="person">
                            <img alt="profile pic" src="../../../assets/images/profile-img.jpg" class="image">
            
                        </div>
                        <div class="para">
                            <P> Smith has applied for <span> 3 days </span>leave.lorem ipsum sit amet consectetur adipisicing.</P>
            
                        </div>
            
                        <!-- </div> -->
                        <i class="material-icons cross"> close </i>
            
                    </div>
                    <div class="second">
                        <i class="material-icons clock">
                            access_time
                            </i>
                        <p> a few seconds ago</p>
            
                    </div>
                </div>
            
                <div class="read">
                    <div class="notification ">
                        <!-- <div class="notify-inner pd special">  -->
                        <div class="person">
                            <img alt="profile pic" src="../../../assets/images/profile-img.jpg" class="image">
            
                        </div>
                        <div class="para">
                            <P> Smith has applied for <span> 3 days </span>leave.lorem ipsum sit amet consectetur adipisicing.</P>
            
                        </div>
            
                        <!-- </div> -->
                        <i class="material-icons cross"> close </i>
            
                    </div>
                    <div class="second">
                        <i class="material-icons clock">
                            access_time
                            </i>
                        <p>a few seconds ago</p>
            
                    </div>
                </div>

                <div class="notread">
            
                    <div class="notification ">
                        <!-- <div class="notify-inner pd special">  -->
                        <div class="person">
                            <img alt="profile pic" src="../../../assets/images/profile-img.jpg" class="image">
            
                        </div>
                        <div class="para">
                            <P> Smith has applied for <span> 3 days </span>leave.lorem ipsum sit amet consectetur adipisicing.</P>
            
                        </div>
            
                        <!-- </div> -->
                        <i class="material-icons cross"> close </i>
            
                    </div>
                    <div class="second">
                        <i class="material-icons clock">
                            access_time
                            </i>
                        <p>a few seconds ago</p>
            
                    </div>
                </div>
            
                
                    <div class="read">
                        <div class="notification ">
                            <!-- <div class="notify-inner pd special">  -->
                            <div class="person">
                                <img alt="profile pic" src="../../../assets/images/profile-img.jpg" class="image">
            
                            </div>
                            <div class="para">
                                <P> Smith has applied for <span> 3 days </span>leave.lorem ipsum sit amet consectetur adipisicing.</P>
            
                            </div>
            
                            <!-- </div> -->
                            <i class="material-icons cross"> close </i>
            
                        </div>
                        <div class="second">
                            <i class="material-icons clock">
                            access_time
                            </i>
                            <p>a few seconds ago</p>
            
                        </div>
                    </div>

                    <div class="read">
                        <div class="notification ">
                            <!-- <div class="notify-inner pd special">  -->
                            <div class="person">
                                <img alt="profile pic" src="../../../assets/images/profile-img.jpg" class="image">
            
                            </div>
                            <div class="para">
                                <P> Smith has applied for <span> 3 days </span>leave.lorem ipsum sit amet consectetur adipisicing.</P>
            
                            </div>
            
                            <!-- </div> -->
                            <i class="material-icons cross"> close </i>
            
                        </div>
                        <div class="second">
                            <i class="material-icons clock">
                            access_time
                            </i>
                            <p>a few seconds ago</p>
            
                        </div>
                    </div>
            
                    <div class="read">
                        <div class="notification ">
                            <!-- <div class="notify-inner pd special">  -->
                            <div class="person">
                                <img alt="profile pic" src="../../../assets/images/profile-img.jpg" class="image">
            
                            </div>
                            <div class="para">
                                <P> Smith has applied for <span> 3 days </span>leave.lorem ipsum sit amet consectetur adipisicing.</P>
            
                            </div>
            
                            <!-- </div> -->
                            <i class="material-icons cross"> close </i>
            
                        </div>
                        <div class="second">
                            <i class="material-icons clock">
                            access_time
                            </i>
                            <p>a few seconds ago</p>
            
                        </div>
                    </div>
            
            </section>