<div class="main-div">
    <!-- <div class="notification">
        <div class="notification-inner">
    <i class="fas fa-check check-icon mr-3"></i>
    <div class="text ">Added a new hloliday </div>
</div>
</div> -->
<div  class="apply-header">
    <div  class="header clearfix">
        <div class="text">
            <h2>Notifications</h2>
        </div>
        <div class="button">
            <!-- <a>Clear all</a> -->
            <a mat-flat-button clearbutton class="clearbutton">Clear all</a>
</div>
</div>
</div>

<div class="row">
    <!-- notification -->
    <div class="notification">
        <div class="notify-inner pd info"> 
            New holiday added in Arethso Calender
            <i class="material-icons"> close </i>
        </div>
    </div>

     <!-- notification -->
     <div class="notification">
            <div class="notify-inner pd cancel-bg"> 
                Coming monday holiday is canceled due to hard work
                <i class="material-icons"> close </i>
            </div>
        </div>

         <!-- notification -->
    <div class="notification">
            <div class="notify-inner pd success"> 
                Notification is successfully opened
                <i class="material-icons"> close </i>
            </div>
        </div>

         <!-- notification -->
    <div class="notification">
            <div class="notify-inner pd special"> 
                No one will take leave in running month due to hard work
                <i class="material-icons"> close </i>
            </div>
        </div>

      </div>

      
</div>
  
        
   