// .maindiv{
//     text-align: center;
// }
// .prime{
    
//     margin-top: 10px;
//     background-color: #70aade;
// }
// .button{
//     float: right;
//     margin-right: 103px;
// }
.apply-main {
    // height: 100vh;
    padding: 20px 20px 20px 20px;
}
.apply-header {
    width: 70%;
    .btn {
        padding: 3px 13px 3px 0px;
        i {
            margin-right: 1px;
        }
    }
    a{
        text-decoration: none;
    }
}
.leave-form {
    background-color: white;
    padding: 22px 22px 72px 22px;
    width: 100%;
    .mat-form-field  {
        width: 100%!important;
    }
}
textarea {
     width: 100%;
     text-align: left;
     font-size: 14px;
     color: grey;
     padding-left: 10px;
}
.submit {
  margin-top: 10px;
    input {
        float: right;
        padding: 3px 20px;
        background-color: #1565C0;
        color: white;
        border-radius: 0px;
        text-decoration: none;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }
}
.prime{
    float: right;
    margin-top: 10px;
    background-color: #70aade;
}
.backbutton{
    background-color: #70aade;
    color: white;
}