
<div class="invite-users-modal-component">
    <div class="invite-users-modal-content">
        <div class="invite-users-title-wrapper">
            <img class="user-image" src="https://cdn7.monday.com/images/invite-users/user-invite-logo.png" alt="user logo">
            <div class="invite-users-title">Invite new members</div></div><div class="content-input-wrapper">
                <div class="invite-users-modal-subtitle">
                        <i class="far fa-envelope"></i>
     Invite with email</div><div class="emails-kind-wrapper">
           <div class="emails-input-wrapper">
               <div class="tags-input-component">
                 <div class="tags-input-wrapper" id="tags-input-wrapper">
                    <div class="tags-wrapper" id="tags-wrapper"></div>
                      <input class="tags-input" id="tags-input" type="text" placeholder="Enter one or more email addresses" value="">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="user-kind-radio-wrapper">
            <div class="user-kind-radio-option">
                <div class="radio-button-component  color-undefined size-sm  selected">
                    <div class="radio-button-circle color-undefined"></div>
                    <span class="radio-button-label">Member</span>
                </div>
            </div>
            <div class="user-kind-radio-option">
                <div class="radio-button-component  color-undefined size-sm  ">
                    <div class="radio-button-circle color-undefined"></div>
                    <span class="radio-button-label">Viewer (Read-only)</span>
                </div></div>
                <div class="free-indication">Free</div>
            </div> -->
            <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Member</mat-radio-button>
                    <mat-radio-button value="2">Viewer </mat-radio-button>
                  </mat-radio-group>                  
        </div>
            <div class="bottom-wrapper">
                <button type="submit" disabled="" tabindex="0" class="invite-button ds-btn ds-btn-primary ds-btn-md disabled">Invite</button>
            </div></div><div class="invite-users-externals-wrapper">
                <div class="invite-users-external-component">
                    <span class="title">You can also import your contacts from:</span>
                    <img alt="gmail" class="integration-icon" src="https://cdn7.monday.com/images/gmail-dark-bg.svg">
                    <img alt="outlook" class="integration-icon" src="https://cdn7.monday.com/images/outlook.svg">
                </div>
            </div>
        </div>