<div class="backgroundimage">
        <div class="Aligner">
                    <div class="container d-100 text-center">
                        
                            <form class="login">
                              <i class="material-icons image1">account_circle</i>
                              <!-- <img src="../../../assets/images/login10.png" alt="loginimage" height = 150px width=150px class="image1"/> -->
                              <div class="form-group" text-align="center">
                                    <i class="material-icons">
                                        email
                                        </i>
                                      <mat-form-field>                                                             
                                          <input matInput placeholder="Enter your email">                                
                                        </mat-form-field>
                                        
                                  </div>
                             
                                
                             <div class="center">
                               <!-- <a href="#" type="button" class="btn btn-sucess reunded button1" name="button">Log In</a> -->
                                <button type="button" class="btn btn-success  button1" name="button">Send Recovery Link</button>
                            </div>                      
                              
                            </form>
                          </div>
                          </div>
                        </div>