.backgroundimage {
	//  background-color: #fff;
	background: url("../../../assets/images/bg-login.png");
	background-size: cover;
	height: 100vh;
	overflow: hidden;
}

.material-icons {
	color: white !important;
}

// input{
//   background:none;
//   border:none;
//   border-bottom:2px solid #392CBD;
//   color:#f8f8f8!important;
//   margin-bottom: 10px;
//   width:100%;
//   margin-left: 26px;
//    margin-right: 26px;
// }
.mat-checkbox {
	// margin-left: 100px;
	color: white;
}

input:focus {
	outline: none;
}

::placeholder {
	color: #ccc;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.button1 {
	padding: 8px 106px;
	border: none;
	color: #0778bd;
	margin-top: 24px;
	
}

.button1:hover {
	transition: 1s;
	-webkit-box-shadow: 0px 1px 16px -1px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 1px 16px -1px rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 16px -1px rgba(255, 255, 255, 1);
}

.button1:focus {
	outline: none;
}

.button2 {
	background-color: transparent;
	border: none;
}

.container {
	height: 520px;
	width: 520px;
}

.fa-eye-slash:hover {
	cursor: pointer;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
	color: white!important;
}

@media screen and (max-width: 600px) {
	.container {
		width: 100%;
		background-color: #000000C2;
		border-radius: 23px;
	}
	form {
		height: auto;
		width: 100%;
	}
}

.form-group {
	
	margin: 20px 0px 20px 0px;
	text-align: center;
	width: 100%;
	
}

.image1 {
	font-size: 85px;
	border-radius: 50%;
}

.mat-form-field {
	width: 347px!important;
	margin-bottom: 8px;
}
.Aligner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.Aligner-item {
	max-width: 50%;
}

.center {
	text-align: center;
}

.login {
	text-align: center;
}

.picon {
	position: absolute;
    right: -1px;
    top: -2px;
}
