<div class="backgroundimage">
  <div class="Aligner">
              <div class="container d-100 text-center">
                  
                      <form class="login">
                        <i class="material-icons image1">account_circle</i>
                       
                          

                          <div class="form-group" text-align="center">
                            
                              <mat-form-field appearance="outline">  
                                  <mat-label>Email</mat-label>                                                           
                                  <input matInput placeholder="">  
                                  <i class="material-icons picon">
                                    email
                                    </i>                              
                                </mat-form-field>
                                
                          </div>
                        
                       <div class="center">
                        
                         <button mat-flat-button class="button1">Send Recovery Link</button>
                          
                      </div>                      
                       
                      </form>
                    </div>
                    </div>
                  </div>

                  