<div class="backgroundimage">
        <div class="Aligner">
                <div class="container d-100 text-center">
                        <form id="sign">
                               
                          <img src="../../../assets/images/login10.png" alt="loginimage" height = 150px width=150px class="image1"/>
                           
                          <div class="form-group" align="center">
                            <input type="password" class="cool-link" placeholder="New Password" id="pwd" required/>
                            <i class="fa fa-eye-slash" aria-hidden="true" onclick="myFunction()" ></i>
                          </div>
                          <div class="form-group" align="center">
                              <input type="password" class="cool-link" placeholder="Confirm Password" id="pwd" required/>
                              <i class="fa fa-eye-slash" aria-hidden="true" onclick="myFunction()" ></i>
                            </div>
                            
                          <div class="center">
                            <button type="button" class="btn btn-success rounded" name="button">Submit</button>
                        </div>
                         
                         
                         
                                
                                
                              
                        </form>
                      </div>
                      </div>
                    </div>