<div class="backgroundimage">
        <div class="Aligner">
            <div class="container d-100 text-center">
                    <form id="sign">
                           
                      <img src="../../../assets/images/login10.png" alt="loginimage" height = 150px width=150px class="image1"/>
                        <div class="form-group" align="center">
                          <input type="text" class="cool-link" placeholder="Username" id="txt" required/>
                          <i class="fas fa-user"></i>
                        </div>
                      <div class="form-group" align="center">
                        <input type="password" class="cool-link" placeholder="Password" id="pwd" required/>
                        <i class="fa fa-eye-slash" aria-hidden="true" onclick="myFunction()" ></i>
                      </div>
                      <div class="form-group" align="center">
                          <input type="password" class="cool-link" placeholder="Confirm Password" id="pwd" required/>
                          <i class="fa fa-eye-slash" aria-hidden="true" onclick="myFunction()" ></i>
                        </div>
                        <div class="terms">
                            <p>By creating an account you agree to our<br> <a href="#" style="color:dodgerblue">Terms & Privacy</a></p>


                        </div>
                   <div class="center">
                        <button type="button" class="btn btn-success rounded" name="button">Sign Up</button>

                   </div>
                       
                       
                      
                     
                     
                            
                            
                          
                    </form>
                  </div>
                  </div>
                </div>
