
@import '../../../../node_modules/saturn-datepicker/bundle.css';

.list1 {
	display: grid;
	padding-left: 33px;
}
.table-tab {
	padding: 20px 20px;
}

.employee1 {
	display: flex;
	padding: 15px 15px;
	align-items: flex-start;	
}
.clicked-employee {
	background-color: #ECECEC;
}

.date {
	font-size: 13px;
	color: grey;
}
.day {
	margin-left: 10px;
    font-size: 16px;
	color: #1E3262;
	font-weight: 500;
}

.cause {
	font-size: 14px;
	display: flex;
	align-items: center;
}

.line {
	border-top: 1px solid #c7cbd5;
	box-shadow: 0px 0px 0px 1px #dedfe2;
}

.details {
	border: 1px solid #c7cbd5;
	padding-left: 27px;
	padding-top: 31px;
	padding-bottom: 23px;
	background-color: white;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
	&:hover {
		box-shadow: 0 0 10px rgba(0,0,0,.2);
	}
}


.bbutton {
	border: 1px solid orange;
	background-color: #f8ecd6;
	
	margin-bottom: 27px;
}

.philip {
	color: #8d8383;
}
.box{
	width: 73%;
}
.reason {
	background-color: #f0f2f7;
	width: 347px;
	
	padding: 14px;
	
    margin-bottom: 14px;
}

.bbutton1 {
	margin-right: 13px;
}



.result {
	text-align: right;
}

.list {
	float: left;
	width: 30%;
	// height: 800px;
	// border: 1px solid #c7cbd5;
	background-color: white;
}

.detail1 {
	float: left;
	width: 40%;
	padding: 15px;
}
.more-detail {
	background-color: white;
	float: left;
	width: 30%;
	padding: 15px;
}

.history {
	width: 100%;
}

.employee {
	border: 1px solid #dfe0e2;
}

.profile-box {
	background-color: #ececec;
	// height: 60px;
	padding: 10px;
	display: flex;
	align-items: center;
	img {
		width: 40px;
    height: 48px;
	}
	.name {
		line-height: 1;
		margin-left: 15px;
		span {
			color: grey;
			font-size: 14px;
		}
	}
}

.chart-div {
	margin-top: 15px;
	border-bottom: 1px dashed gray;
	padding-bottom: 20px;
}
.consumed {
	padding-top: 20px;
	.dot {
		margin-left: 0px!important;
		margin-right: 7px;
	}
	.heading{
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 10px;
	}
}

.leave-request {
	margin: 0px 20px;
}
.chart {
	margin-top: 15px;
}
form {
	margin-top: 10px;
}
.recordtable{
	padding: 5px 10px 0px 10px;
}