
<div class="main-div">
<mat-tab-group animationDuration="0ms">

        <mat-tab label="Team Record">
    
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 history">
    
                <!--- Note that these columns can be defined in any order.
                                                                  The actual rendered columns are set as a property on the row definition" -->
    
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
    
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                </ng-container>
    
                <!-- USED Column -->
                <ng-container matColumnDef="usedleaves">
                    <th mat-header-cell *matHeaderCellDef> Used Leaves</th>
                    <td mat-cell *matCellDef="let element"> {{element.Usedleaves}} </td>
                </ng-container>
    
                <!-- Left Column -->
                <ng-container matColumnDef="Leftleaves">
                    <th mat-header-cell *matHeaderCellDef> Left Leaves </th>
                    <td mat-cell *matCellDef="let element"> {{element.Leftleaves}} </td>
                </ng-container>
    
                <ng-container matColumnDef="extraleaves">
                    <th mat-header-cell *matHeaderCellDef> Extra Leaves </th>
                    <td mat-cell *matCellDef="let element"> {{element.extraleaves}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            </table>
    
        </mat-tab>
    
        <mat-tab label="Leave Requests" class="leave-request">
            <div class="clearfix">
                <div class="list">
                    <div class="employee">
                        <div class="employee1 clicked-employee">
    
                            <img src="../../../assets/images/profile-img.jpg" alt="" style="border-radius:50%; width:51px">
                            <div class="list1">
    
                                <h6>Philip Valdez</h6>
                                <h6 class="date"><span>20th Jan 2020</span> - <span>21th Jan 2019</span></h6>
    
                                <div class="cause">
                                    <span>2 Day</span>
                                    <span class="dot sick-dot"></span>
                                    <span>Sick</span>
    
                                </div>
    
                            </div>
    
                        </div>
    
                        <!-- <hr class="line"> -->
                    </div>
                    <div class="employee">
                        <div class="employee1">
    
                            <img src="../../../assets/images/profile-img.jpg" alt="" style="border-radius:50%; width:51px">
                            <div class="list1">
    
                                <h6>Philip Valdez</h6>
                                <h6 class="date">3rd July 2020</h6>
    
                                <div class="cause">
                                    <span>1 Day</span>
                                    <span class="dot personal-dot"></span>
                                    <span>Personal work</span>
    
                                </div>
    
                            </div>
    
                        </div>
    
                        <!-- <hr class="line"> -->
                    </div>
                    <div class="employee">
                        <div class="employee1">
    
                            <img src="../../../assets/images/profile-img.jpg" alt="" style="border-radius:50%; width:51px">
                            <div class="list1">
    
                                <h6>Philip Valdez</h6>
                                <h6 class="date">3rd July 2020</h6>
    
                                <div class="cause">
                                    <span>1 Day</span>
                                    <span class="dot earned-dot"></span>
                                    <span>Earned</span>
    
                                </div>
    
                            </div>
    
                        </div>
                        <!-- <hr class="line"> -->
                    </div>
                    <div class="employee">
                        <div class="employee1">
    
                            <img src="../../../assets/images/profile-img.jpg" alt="" style="border-radius:50%; width:51px">
                            <div class="list1">
    
                                <h6>Philip Valdez</h6>
                                <h6 class="date">3rd July 2020</h6>
    
                                <div class="cause">
                                    <span>1 Day</span>
                                    <span class="dot sick-dot"></span>
                                    <span>Sick</span>
    
                                </div>
    
                            </div>
    
                        </div>
                        <!-- <hr class="line"> -->
                    </div>
                    <div class="employee">
                        <div class="employee1">
    
                            <img src="../../../assets/images/profile-img.jpg" alt="" style="border-radius:50%; width:51px">
                            <div class="list1">
    
                                <h6>Philip Valdez</h6>
                                <h6 class="date">3rd July 2020</h6>
    
                                <div class="cause">
                                    <span>1 Day</span>
                                    <span class="dot personal-dot"></span>
                                    <span>Personal work</span>
    
                                </div>
    
                            </div>
    
                        </div>
                        <!-- <hr class="line"> -->
                    </div>
                    <div class="employee">
                        <div class="employee1">
    
                            <img src="../../../assets/images/profile-img.jpg" alt="" style="border-radius:50%; width:51px">
                            <div class="list1">
    
                                <h6>Philip Valdez</h6>
                                <h6 class="date">3rd July 2020</h6>
    
                                <div class="cause">
                                    <span>1 Day</span>
                                    <span class="dot sick-dot"></span>
                                    <span>Sick</span>
    
                                </div>
    
                            </div>
    
                        </div>
                        <!-- <hr class="line"> -->
                    </div> 
                    
                </div>
                <div class="detail1">
                    <div class="details">
                        <button class="bbutton">pending</button>
                        <p>Philip Valdes<span class="philip"> has applied for sick leave</span></p>
                        <hr>
                        <p style="margin-bottom: 4px;">20th Jan 2019 - 21th Jan 2020<span class="day">2 Days</span></p>
                        <p class="date">Applied on <span style="color: black;">19th Jan, 2020, 1:03pm</span></p>
                        <div class="reason">
                            <span>"Dengue fever"</span>
                        </div>
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Add comments"></textarea>
                            </mat-form-field>
                        </form>
                        <hr>
                        <div class="result">
                            <button class="bbutton1">Decline</button>
                            <button class="bbutton2">Approve</button>
    
                        </div>
    
                    </div>
    
                </div>
                <div class="more-detail">
                    <div class="profile-box">
                      <div class="img">
                          <img  alt="profile pic" src="../../../assets/images/profile-img.jpg" style="border-radius:50%; width:51px"></div>  
                          <div class="name">Philip Valdez<br><span>Designer</span>  </div>
                        </div>

                        <!-- Range Calendar Section -->
                        <form>
                            <section>
                              <span class="code" *ngIf="inlineRange">
                                {{ inlineRange.begin | date }}
                                {{ inlineRange.end | date }}
                              </span>
                              <div class="inlineCalendarContainer">
                                <sat-calendar [rangeMode]="true"
                                              (dateRangesChange)="inlineRangeChange($event)"
                                              [selected]="selectedDate">
                                </sat-calendar>
                              </div>
                            </section>
                          </form>
                    <!-- Range Calendar Section End-->

                        <div>
                                <div class="chart-div">
                                  <div style="display: block">
                                    <canvas baseChart
                                      [datasets]="barChartData"
                                      [labels]="barChartLabels"
                                      [options]="barChartOptions"
                                      [plugins]="barChartPlugins"
                                      [legend]="barChartLegend"
                                      [chartType]="barChartType">
                                    </canvas>
                                  </div>
                                  <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
                                </div>
            <div class="pei-chat">
                    <div>
                            <div>
                              <div class="chart">
                                <canvas baseChart
                                  [data]="pieChartData"
                                  [labels]="pieChartLabels"
                                  [chartType]="pieChartType"
                                  [options]="pieChartOptions"
                                  [plugins]="pieChartPlugins"
                                  [colors]="pieChartColors"
                                  [legend]="pieChartLegend">
                                </canvas>
                              </div>
                            </div>
                          </div>
                          <div>
                            <!-- <button mat-button mat-raised-button color="primary" (click)="pieChartLegend=!pieChartLegend">Toggle Legend</button>
                            <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button>
                            <button mat-button mat-raised-button color="primary" (click)="addSlice()">Add Slice</button>
                            <button mat-button mat-raised-button color="primary" (click)="removeSlice()">Remove Slice</button>
                            <button mat-button mat-raised-button color="primary" (click)="changeLegendPosition()">Change Legend Position</button> -->
                          </div>
            </div>                    

         <div class="consumed">
            <div class="heading">Summary</div>
            <div><span class="dot sick-dot"></span>Sick - 4</div>
            <div><span class="dot earned-dot"></span>Earned- 3</div>
            <div><span class="dot personal-dot"></span>Personal work- 1</div><br>
         </div>                       
      </div>

      </div>
     </div>
    
        </mat-tab>
    
    </mat-tab-group>
    
</div>