<section class="heading">
                <div class="dot">
                    S
                </div>
                <h5>Samuel Smith</h5>
            
            </section>
            <section class="box2">
            
                <div class="details">
                    <div class="subhead">
                        <h5>Overview</h5>
                        <div class="editbutton">
                            <button class="edit" (click)="openDialog()"> Edit </button>
                        </div>
            
                    </div>
            
                    <div class="data">
                        <div class="icon">
                            <i class="fas fa-user"></i>
                        </div>
                        <p><span class="title">Name :</span> Samuel Smith</p>
                    </div>
            
                    
            
                    <div class="data">
                        <div class="icon">
                            <i class="far fa-envelope"></i>
                         </div>
                        <p><span class="title">Email :</span> Samuel123@work.com</p>
                 </div> 
            
                   
            
                    <div class="data">
                        <div class="icon">
                            <i class="fas fa-phone-alt"></i> </div>
                        <p><span class="title">Phone :</span> 987654321</p>
            
                    </div>

                    <div class="data">
                        <div class="icon">
                            <i class="fab fa-skype"></i> </div>
                        <p><span class="title">Skype :</span> SamuelSmith</p>
            
                    </div>
            
                </div>
            
            </section>