
.heading{
    background-color: #70aade;
    max-width: 58%;
    height: 241px;
    text-align: center;
    margin: auto;
    position: relative;
    margin-bottom: -120px;
    border-radius: 6px;
    margin-top: 60px;
   

    h5{
        font-size: 34px;
    color: white;
    }
}

.dot {
    position: relative;
	height: 70px;
    width: 70px;
    background-color: #91BADF;
    border-radius: 50%;
    display: inline-block;
   color: white;
    padding: 14px;
    font-size: 29px;
    box-shadow: 0px 2px 7px 0px #5167bf;
    margin-top: 53px;
    margin-bottom: 9px;
}
.profileimage{
    position: absolute;
    border-radius:50%;
   
    top: 1px;
    right: 0px;
}

.box2 {
	background-color: #ffffff;
    max-width: 67%;
    margin: auto;
    border-radius: 6px;
    
}
.details{
    padding: 171px 171px 40px 171px;
    margin-bottom: 20px;
}
.icon{
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #263262;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    color: #263262;
    margin-right: 15px;
}
.data{
    display: flex;
    align-items: baseline;
    margin-top: 16px;
}
.title{
    color: #1e3262;
    font-size: 18px;
    font-weight: 500;
}
.edit{
    background-color: #70aade;
    color: white;
}
.subhead{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
}
.icon1{
    font-size: 13px;
    padding-left: 5px;
}
.upload{
    color: white;
    font-size: 11px;
  }
  .heading{
    a{
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
  }