.profile{
    width:100%;
    
    
}
.heading{
    background-color: #1565c0;
    max-width: 50%;
    height: 241px;
    text-align: center;
    margin: auto;
    border-radius: 8px;

    h5{
        font-size: 34px;
    color: white;
    }
}
.dot {
	height: 70px;
    width: 70px;
    background-color: #4491ea;
    border-radius: 50%;
    display: inline-block;
   
    padding: 14px;
    font-size: 29px;
    box-shadow: 0px 2px 7px 0px;
    margin-top: 53px;
    margin-bottom: 25px;
}
