.holidays-main-div{
    padding: 20px 20px 20px 20px;
    background-color: #F0F2F7;
    height: 100vh;
   
    
    .table-header {
      width: 100%;
      display: flex;
      justify-content: center;
    .year-select {
      width: 33%;
      // float: left;
      i {
        position: absolute;
        color: white;
        top: 5px;
        right: 10px;
        font-size: 28px;
      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #2c3e50;
        background-image: none;
        box-shadow: 0px 0px 8px 0px #a6a6a6;
      }
      /* Remove IE arrow */
      select::-ms-expand {
        display: none;
      }
      /* Custom Select */
      .select {
        position: relative;
        display: flex;
        height: 2em;
        line-height: 2;
        background: #2c3e50;
        overflow: hidden;
        font-size: 18px;
      }
      select {
        flex: 1;
        padding: 0 .5em;
        color: #fff;
        cursor: pointer;
      }
      /* Arrow */
      .select::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        color: white;
        background: #34495e;
        cursor: pointer;
        pointer-events: none;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
      }
      /* Transition */
      .select:hover::after {
        color: #23b9fc;
      }
    }
    .mr-left {
      margin-left: 1%;
    }
    .used-leave {
      background: #2c3e50;
      height: 46px;
      width: 33%;
    }
    .left-leave {
      background: #2c3e50;
      height: 46px;
      width: 33%;
    }
    .text {
      padding: 12px 15px;
      height: 36px;
      color: white;
      font-size: 14px;
      font-weight: 500;
      .heading {
       float: left;
      }
      .value {
      float: right;
      }
    }
  }
    h2{
        color: #1E3262!important;
    }
    .float-l{ float: left;}
    .float-r{ float: right; margin-top: 3px;}
   
     .btn:hover{
      box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.225);
      background-color: #23b9fc;
     }
     table {
        width: 100%;
        td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
          text-align: left!important;
          color: black!important;
      }
      }
      
      .mat-form-field {
        font-size: 14px;
        width: 100%;
      }
      
      td, th {
        width: 25%;
      }
      .mat-tab-group {
      // border: 1px solid gray!important;
      margin-top: 10px;
      background-color: white!important;
      padding: 15px!important;
      -webkit-box-shadow: 0px 0px 8px 0px rgba(166,166,166,1);
-moz-box-shadow: 0px 0px 8px 0px rgba(166,166,166,1);
box-shadow: 0px 0px 8px 0px rgba(166,166,166,1);
      }
}

table th .mat-header-cell {
  font-weight: 700!important;
  color: #37474f!important;
}


table th, td {
    width: 21%!important;
  }

.tag {
  color: white;
  font-size: 14px;
  padding: 5px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pending {
  background-color: #cac8c8;
}
.reject {
  background-color: #e53935;
}
.accept {
  background-color: #4cd04c;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  height: 46px;
  background-color: #2C3E50!important;
  font-size: 18px!important;
  padding: 0px 11px!important;
}
.backbutton{
  background-color: #23b9fc;
    color: white;
}