/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
}
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";



.orange {
  background-color: #FDAB3D;
}
.blue {
  background-color: #579BFC;
}
.red {
  background-color: #E2445C;
}
.gray {
  background-color: #C3C3C3;
}
.purple {
  background-color: #A25DDC;
}
.green {
  background-color: #00C875;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.tooltip {
    font-size: 13px;
  }

  .invite-users-modal-component  .mat-radio-outer-circle {
      height: 17px;
      width: 17px;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    height: 17px;
    width: 17px;
    background-color: #009AFF;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #009AFF;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
i {
  cursor: pointer;
}
.ng-sidebar--right {
  background-color:white;
  box-shadow: 3px 3px 6px grey;
}
.ng-sidebar{
  width: 68%;
}

td.content {
  padding: 0 !important;
  .task1 {
    height: 46px;
  }
}
// td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
//   padding-left: 85px !important;
// }
// td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
//   text-align: center;
// }
ng-sidebar-container {
  height: calc(100vh - 25px) !important;
}
.mat-header-cell {
  font-size: 17px;
}
// td.mat-cell:first-of-type{
//   padding-left: 57px;
// }


.mat-drawer-container {
  color: #1E3262;
}

.header {
  margin-bottom: 30px;
  .text {
    float: left;
    font-size: 26px;
    color: #1E3262;
    h2 {
    font-size: 1.575rem;
  }
  }
  .button {
    float: right;
    .btn{ 
      padding: 3px 20px;
      // border: 1px solid #70AADE;
      background-color: #23b9fc;
      color: white;
      border-radius: 0px;
      text-decoration: none;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
      display: flex;
      align-items: center;
      justify-content: center;
   }
  }
}
.padding-left {
 padding-left: 10px!important;
}


button:focus {
  outline: none;
}

