/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
}

@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '../node_modules/saturn-datepicker/theming';

.orange {
  background-color: #FDAB3D;
}
.blue {
  background-color: #579BFC;
}
.red {
  background-color: #E2445C;
}
.gray {
  background-color: #C3C3C3;
}
.purple {
  background-color: #A25DDC;
}
.green {
  background-color: #00C875;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.tooltip {
    font-size: 13px;
  }

  .invite-users-modal-component  .mat-radio-outer-circle {
      height: 17px;
      width: 17px;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    height: 17px;
    width: 17px;
    background-color: #009AFF;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #009AFF;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
i {
  cursor: pointer;
}
.ng-sidebar--right {
  background-color:white;
  box-shadow: 3px 3px 6px grey;
}
.ng-sidebar{
  width: 68%;
}

td.content {
  padding: 0 !important;
  .task1 {
    height: 46px;
  }
}
// td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
//   padding-left: 85px !important;
// }
// td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
//   text-align: center;
// }
ng-sidebar-container {
  height: calc(100vh - 25px) !important;
}
.mat-header-cell {
  font-size: 14px;
}
// td.mat-cell:first-of-type{
//   padding-left: 57px;
// }


.mat-drawer-container {
  color: #1E3262;
}

.header {
     background-color: white;
     padding: 12px 20px;
     margin-bottom: 30px;
     margin-top: 1px;
  .text {
    float: left;
    font-size: 26px;
    color: #1E3262;
    h2 {
    font-size: 1.575rem;
  }
  }
  .button {
    float: right;
    .btn{ 
      padding: 3px 20px;
      // border: 1px solid #70AADE;
      background-color: #23b9fc;
      color: white;
      border-radius: 0px;
      text-decoration: none;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
      display: flex;
      align-items: center;
      justify-content: center;
   }
  }
}
.padding-left {
 padding-left: 10px!important;
}


button:focus {
  outline: none;
}

.main-div {
  height: 100vh;
}

.year-select {
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    height: 46px!important;
    background-color: #2C3E50!important;
    font-size: 16px!important;
    padding: 0px 11px!important;
  }
  .mat-select-value {
    color: white;
}
.mat-select-arrow {
  color: white!important;
}
.mat-drawer-container {
  color: white!important;
}
}

.holidays-main-div{
.mat-tab-label {
  color: #1E3262!important;
}
}

.mat-form-field-infix {
  width: 320px!important;
}
.main-dashboard {
  .mat-header-cell {
   color: #1E3262;
}
}
.main-div {
  .mat-header-cell {
   color: #1E3262;
  }
}
.editabledata{

  .mat-form-field {
    display: block;
  }
  .mat-form-field-infix{
    width: 491px !important;
  }
  
}
.remember{
  .mat-checkbox-inner-container{
    margin-right: 19px;
  }
}
.login{
  .mat-form-field-label-wrapper {
    top: -1.4em;
    padding-top: .84375em;
}
  mat-label{
    color:white;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 7px 0 7px 0;
}
  // a{text-decoration: none;}
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    /* color: rgba(0,0,0,.87); */
    color: white !important;
}
.mat-form-field-wrapper{
  margin-top: 12px !important;
    margin-bottom: -27px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(255, 255, 255);
}
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color:white !important;
  }
  
.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgb(255, 255, 255) !important;
}
.mat-checkbox-frame {
  border-color: rgb(255, 255, 255) !important;
}
}
// .details{
//   .mat-form-field-flex{
//    width: 100%;
//   }

// }
// .mat-form-field-appearance-legacy .mat-form-field-underline {
//   background-color:#70aade;
// }
.mat-form-field.mat-focused .mat-form-field-label{
  color:#70aade;
}

.cal-month-view .cal-day-cell {
  min-height: 80px;
}

.cal-month-view .cal-day-cell {
  min-height: 75px;
}

// list of person who are on leave or apply for leave start
.list1 {
	display: grid;
	padding-left: 33px;
}

.employee-on-leave {
	display: flex;
	padding: 15px 15px;
  align-items: flex-start;
  img {
    border-radius: 50%;
    width: 51px;
  }	
}
.bodrer {
 border-bottom: .5px solid #e1e1e2;
}
.clicked-employee {
	background-color: #ECECEC;
}

.date {
	font-size: 13px;
	color: grey;
}
.day {
	margin-left: 10px;
    font-size: 16px;
	color: #1E3262;
	font-weight: 500;
}

.cause {
	font-size: 14px;
	display: flex;
	align-items: center;
}

.dot {
	height: 13px;
	width: 13px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 4px;
	margin-left: 30px;
}
.sick-dot {
	background-color: pink;
}
.personal-dot {
	background-color: #2E506B;
}
.earned-dot {
	background-color: #FEDE87;
}

// list of person who are on leave or apply for leave End

.mat-elevation-z8 {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
	&:hover {
		box-shadow: 0 0 10px rgba(0,0,0,.2);
	}
.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: #70aade;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgba(0,0,0,.12);
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
color: #70aade;
}
}