.close {
	text-align: right;
}
.buttons {
	text-align: center;
	margin-top: 12px;
}
.save {
	
	background-color: #70aade;
	color: white;
	padding: 8px 212px;
}
.icon {
	color: #7c7c7c;
	margin-right: 22px;
}
.field1 {
	display: flex;
	align-items: center;
}
.cancel {
	background-color: #eceaea9e;
	padding: 8px 204px;
	margin-top: 10px;
	
	color: #b0acac;
}