<div class="close"><i (click)="onNoClick()" class="material-icons">  close </i></div>
<div class="editabledata">
    <div class="example-container">
        <div class="field1">
            <div class="icon">

                <i class="fas fa-user"></i>
            </div>
            <mat-form-field>

                <input matInput placeholder="Name">
            </mat-form-field>

        </div>
        <div class="field1">
            <div class="icon">
                <i class="far fa-envelope"></i>
            </div>
            <mat-form-field>

                <input matInput placeholder="Email">
            </mat-form-field>
        </div>
        <div class="field1">
            <div class="icon">
                <i class="fas fa-phone-alt"></i>
            </div>
            <mat-form-field>

                <input matInput placeholder="Phone">
            </mat-form-field>
        </div>
        <div class="field1">

            <div class="icon">
                <i class="fab fa-skype"></i>
            </div>
            <mat-form-field>

                <input matInput placeholder="Skype Name">
            </mat-form-field>
        </div>

        <div class="field1">

            <div class="icon">
                <i class="fas fa-lock"></i>
            </div>
            <mat-form-field>

                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
                <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    </button> -->

            </mat-form-field>
        </div>

    </div>

</div>

<div class="buttons">
    <button class="save">Save</button>
    <button class="cancel" (click)="onNoClick()">Cancel</button>

</div>