<div class="close"><i (click)="onNoClick()" class="material-icons">  close </i></div>
<div class="main-div">
<h1>How can we help?</h1>
<form>
    
    <input type="text" name="firstname" placeholder="Start typing here.."><br>
  </form>

  <div class="help-sections-wrapper">
      <div class="help-section-component" 
      style="background-image: url(&quot;https://cdn7.monday.com/images/help-center/webinars.png&quot;); background-color: rgb(2, 208, 244);">
      <div class="section-content">
          <span class="sub-title"></span>
        </div>
        <div class="section-footer">
            <span class="footer-title">Arethos <b>webinars</b></span>
        </div></div>
        <div class="help-section-component" style="background-image: 
        url(&quot;https://cdn7.monday.com/images/help-center/contact-us.png&quot;);
         background-color: rgb(1, 201, 113);"><div class="section-content"><span class="sub-title"></span>
         </div>
         <div class="section-footer"><span class="footer-title">Contact Us</span></div></div><div class="help-section-component" style="background-image: url(&quot;https://cdn7.monday.com/images/help-center/video-tutorials.png&quot;); background-color: rgb(255, 204, 0);"><div class="section-content"><span class="sub-title"></span></div><div class="section-footer"><span class="footer-title">Tutorial <b>videos</b></span>
</div></div></div>
</div>